# Environments
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Node
node_modules/
dist/
build/
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log
*.html
*.png
!frontend/public/**/*.png
!frontend/src/**/*.png
*.txt

# Debug Scripts
backend/check_db_stats.py
backend/test_*.py
backend/debug_*.py
backend/dump_*.py
backend/*_dump.html

# VS Code Temp
*.swp
